@{
    Layout="Shared/_Layout.cshtml";
}

@if(Model["form-type"] == "stylist")
{
  <h3>New stylist</h3>
  <form action="/" method="post">
    <div class="form-group">
      <label for="stylist-name">Name:</label>
      <input type="text" name="stylist-name" class="form-control">
    </div>
    <div class="form-group">
      <label for="stylist-telephone">Telephone:</label>
      <input type="text" name="stylist-telephone" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Add new stylist</button>
  </form>
}
else if(Model["form-type"] == "client")
{
  <h3>New client</h3>
  <form action='/stylists/@Model["stylist"].GetId()/clients/new' method="post">
    <div class="form-group">
      <label for="client-name">Name:</label>
      <input type="text" name="client-name" class="form-control">
    </div>
    <div class="form-group">
      <label for="client-telephone">Telephone:</label>
      <input type="text" name="client-telephone" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Add new client</button>
  </form>
}
else if(Model["form-type"] == "client-edit")
{
  <h3>Edit client: (@Model["client"].GetName())</h3>
  <form action='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit' method="post">
    <input type="hidden" name="_method" value="PATCH">
    <div class="form-group">
      <label for="client-name">Name:</label>
      <input type="text" name="client-name" class="form-control" value='@Model["client"].GetName()'>
    </div>
    <div class="form-group">
      <label for="client-telephone">Telephone:</label>
      <input type="text" name="client-telephone" class="form-control" value='@Model["client"].GetTelephone()'>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Update client info</button>
  </form>
}
else if(Model["form-type"] == "stylist-edit")
{
  <h3>Edit stylist</h3>
  <form action='/stylists/@Model["stylist"].GetId()/edit' method="post">
    <input type="hidden" name="_method" value="PATCH">
    <div class="form-group">
      <label for="stylist-name">Name:</label>
      <input type="text" name="stylist-name" class="form-control" value='@Model["stylist"].GetName()'>
    </div>
    <div class="form-group">
      <label for="stylist-telephone">Telephone:</label>
      <input type="text" name="stylist-telephone" class="form-control" value='@Model["stylist"].GetTelephone()'>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Update stylist info</button>
  </form>
}
